<!--  <div class="pre-footer">
      <div class="container">
        <div class="row">
          BEGIN BOTTOM ABOUT BLOCK
          <div class="col-md-4 col-sm-6 pre-footer-col">
            <h2>About us</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam sit nonummy nibh euismod tincidunt ut laoreet dolore magna aliquarm erat sit volutpat.</p>
          </div>
          END BOTTOM ABOUT BLOCK

          BEGIN BOTTOM CONTACTS
          <div class="col-md-4 col-sm-6 pre-footer-col">
            <h2>Our Contacts</h2>
            <address class="margin-bottom-40">
              35, Lorem Lis Street, Park Ave<br>
              California, US<br>
              Phone: 300 323 3456<br>
              Fax: 300 323 1456<br>
              Email: <a href="mailto:info@metronic.com">info@metronic.com</a><br>
              Skype: <a href="skype:metronic">metronic</a>
            </address>
          </div>
          END BOTTOM CONTACTS

          BEGIN TWITTER BLOCK 
          <div class="col-md-4 col-sm-6 pre-footer-col">
            <h2 class="margin-bottom-0">Latest Tweets</h2>
            <a class="twitter-timeline" href="https://twitter.com/twitterapi" data-tweet-limit="2" data-theme="dark" data-link-color="#57C8EB" data-widget-id="455411516829736961" data-chrome="noheader nofooter noscrollbar noborders transparent">Loading tweets by @keenthemes...</a>
          </div>
          END TWITTER BLOCK
        </div>
      </div> -->
    </div>
    <!-- END PRE-FOOTER -->

    <!-- BEGIN FOOTER -->
    <div class="footer" style="background:#f7f7f7; margin-top:40px;">
      <div class="container" >
        <div class="row" >
          <!-- BEGIN COPYRIGHT -->
          <div class="col-md-6 col-sm-6 padding-top-10" style="color:#000">
            2014 © Metronic Shop UI. ALL Rights Reserved. <a href="#" style="color:#000"> Privacy Policy</a> | <a href="#" style="color:#000">Terms of Service</a>
          </div>
          <!-- END COPYRIGHT -->
        </div>
      </div>
      
    </div>